{% extends "base.html" %}
{% block content %}

<h2>{{ user.username }} ({{ user.role }})</h2>
<p>Phone: {{ user.phone }}</p>

{% if user.role == "buyer" %}
    <h3>Buyer Details</h3>
    <p>Default Address: {{ profile.default_address }}</p>
    <p>City: {{ profile.city }}</p>
    <p>State: {{ profile.state }}</p>
    <p>Pincode: {{ profile.pincode }}</p>
{% endif %}

{% if user.role == "seller" %}
    <h3>Seller Details</h3>
    <p>Shop Name: {{ profile.shop_name }}</p>
    <p>Description: {{ profile.shop_description }}</p>
    <p>GST: {{ profile.gst_number }}</p>
    <p>Business Address: {{ profile.business_address }}</p>
    <p>Rating: {{ profile.rating }}</p>
    
    <a href="{% url 'add_product' %}"
   class="bg-purple-600 hover:bg-purple-700 text-white text-sm font-semibold px-5 py-2 rounded-xl border border-purple-400/40 shadow-md transition hover:scale-105">
   ➕ Add Product
</a>

{% endif %}

{% endblock %}